.checkout-container {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.checkout-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.checkout-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.checkout-item-details {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.checkout-item-details .delete-icon {
  position: absolute;
  top: 12px;  // Adjusted position to be closer to the top line
  right: 17px;
  cursor: pointer;
  font-size: 15px;
  color: gray;
}

.checkout-item-details .item-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.checkout-item-details .quantity-price {
  display: flex;
  gap: 10rem; // Fixed gap spacing issue
}

.checkout-item-details .quantity-price span {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #444;
}

.total-price {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  color: #333;
  margin-top: 20px;
  margin-bottom: 60px;
}

button {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  background-color: green;
}

button:hover {
  background-color: darkgreen;
}

button:disabled {
  background-color: #ccc;
}

.schedule_input {
  padding: 12px;
  margin-bottom: 20px;
  width: 94.5%;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.schedule_input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}
