// Define variables for reuse loginForm.scss
$primary-color: #e67e22;
$transparent-bg: rgba(255, 255, 255, 0.85);

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./../../public/register.png') no-repeat center center/cover;
  font-family: 'Arial', sans-serif;
  margin: auto;
  // max-width: 500px;
  width: 100%;
  flex-direction: column;

  .login-form {
    background: $transparent-bg;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;

    h2 {
      margin-bottom: 1.5rem;
      color: $primary-color;
      font-size: 1.8rem;
    }

    .error {
      color: red;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #333;
      }

      input {
        display: block;
        width: 93%;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: $primary-color;
          box-shadow: 0 0 5px $primary-color;
        }
      }
    }

    button {
      width: 100%;
      padding: 0.8rem;
      border: none;
      border-radius: 5px;
      background: $primary-color;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }

    .signup-link {
      margin-top: 1rem;
      font-size: 0.9rem;

      a {
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
